.Badge {
  .BadgePip {
    display: inline-block;
    color: var(--pc-pip-color);
    height: var(--pc-pip-size);
    width: var(--pc-pip-size);
    border: var(--p-border-width-2) solid var(--pc-pip-color);
    border-radius: var(--p-border-radius-half);
    flex-shrink: 0;
  }
}
